body {
    background-color: pink;
}

.hoi {
    background-color: rgb(52, 73, 192);
}

.hey {
    background-color: rgb(160, 214, 80);
}

.A {
    font-weight: bold;
    font-size: xx-large
}